body {
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
}

.post {
    margin: 20px;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
}

.post-info {
    font-style: italic;
    font-size: 24px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

.post h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

nav {
    background: rgba(127, 167, 253, 0.801);
    padding: 20px;
}

nav a {
    color: rgb(2, 2, 2);
    padding-left: 20px;
    font-size: 20px;
}

.author-photo {
    float: left;
    margin-right: 20px;
}

.post {
    padding: 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

body {
    background-image: url(image.jpg);
    background-attachment: fixed;
    height: 80%;
    width: 99%;
    display: table;
    position: relative;
    background-size: cover;
}

.author-photo {
    width: 8%;
    height: 10%;
    border-radius: 50%;
}

.post p {
    font-size: 20px;
    text-align: justify;
}

.post li {
    font-size: 20px;
    text-align: justify;
}

.post-content {
    padding: 20px;
}